<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="manifest" href="manifest.json" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png?v=zXrKLKy8G2">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png?v=zXrKLKy8G2">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png?v=zXrKLKy8G2">
<link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg?v=zXrKLKy8G2" color="#5bbad5">
<meta name="apple-mobile-web-app-title" content="FinanceMNL">
<meta name="application-name" content="FinanceMNL">
<meta name="msapplication-TileColor" content="#7bd9a0">
<meta name="msapplication-config" content="/assets/images/browserconfig.xml?v=zXrKLKy8G2">
<meta name="theme-color" content="#A9E3AB"/>
<!-- end custom head snippets -->
